body, html {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    line-height: 1.6;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #000000 0%, #07192f 50%, #000000 100%);
    color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    max-width: 1440px;
    margin: auto; /* This will center the container */
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

.flex{
    display: flex;
    flex-direction: row-reverse;
}

/* Header and Menu Bar Styling */
header {
    border: 1px solid rgb(75, 75, 75); /* Clean grey outline */
    background-color: rgba(7, 25, 47, 0.0); /* 90% transparent */
    border-radius: 10px;
    padding: 10px 0;
    position: fixed;
    top: 20px; /* Space from the top */
    width: 80%;
    left: 10%; /* Centering the header */
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(16px);
}

.logo {
    font-size: 20px;
    font-weight: normal;
    color: rgb(200, 200, 200);
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #ccd6f6;
    text-decoration: none;
    font-size: 16px;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Black outer glow */;
}

h1 {
    font-size: 3.0em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    color: #ccc;
}

.blue-text {
    color: #4c8eda; /* Adjust the color to the shade of medium blue you prefer */
}

/* Hero Section */
.hero {
    padding: 150px 0; /* Adjust if necessary */
    display: flex;
    flex-direction: column; /* Ensures content flows vertically */
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
}

.hero-image-container {
    position: absolute;
    width: 100%;
    z-index: -1; /* Ensures the image stays behind the content */
}

.hero-image-container img {
    width: 45%;
    max-width: 720px;
    height: auto;
}

.hero-text-container {
    border: 1px solid rgb(7, 25, 47); /* Clean grey outline */
    background-color: rgba(10, 10, 10, 0.4); /* 90% transparent */
    border-radius: 15px;
    backdrop-filter: blur(16px);
    padding-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(54, 123, 195, 0.7); /* Blue outer glow */;
    width: 70%;
}

/* General Section */
section {
    padding: 20px 0;
    margin: 150px 0;
    text-align: center;
}

/* Player Cards */
.card-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    /* ... other styles ... */
}

.card {
    /* background: linear-gradient(45deg, #0d0d0d 0%, #07192f 75%, #122754 100%); */
    width: 200px;
    height: 240px;
    padding: 5px;
    border: 0px solid #122754; /* Well-defined border */
}

.card-image {
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* This will cover the area of the div without stretching the image */
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.card-info h3 {
    margin: 0;
    color: #4c8eda; /* Medium blue for headings */
}

.card-info p {
    color: #ccd6f6; /* Soft blue for text */
}

/* Table */

.table-container img {
    width: 100%;      /* Makes the image take up the full width of its container */
    height: auto;     /* Maintains the aspect ratio of the image */
    object-fit: contain; /* Ensures the entire image is visible */
}

/* Button Styling */
button {
    background-color: #14457d; /* Medium blue for buttons */
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Black outer glow */;
}

button:hover {
    background-color: #367bc3; /* Slightly darker blue on hover */
}

/* Footer Styling */
footer {
    border: 1px solid rgb(75, 75, 75); /* Clean grey outline */
    background-color: rgba(22, 33, 62, 0.0);
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0px 0px 10px rgba(54, 123, 195, 0.7); /* Red outer glow */;
    backdrop-filter: blur(16px);
}

/* Responsive Design */
@media (max-width: 700px) {
    .container {
        width: 95%;
    }

    nav ul {
        text-align: center;
        margin-top: 20px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
